<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodlo.pk</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Mapbox End -->
</head>
<body>
    <%- include('../layout/header'); %>

    <!-- About Us Specific Item -->
    <section class="aboutHero">
        <div class="aboutHeroText">
            <h1><a href="/">Home</a> / About Us</h1>
        </div>
    </section>

    <section class="aboutUsMain">
            <img src="/images/aboutUsHero.jpg" alt="About Us Hero">
            <article class="aboutUsText">
                <h1><span>Our St</span>ory</h1>
                <p><span>FoodLo</span> was created to provide Karachi residents with high-end, lively, and current flavours. We wanted to make sure that everyone had access to delicious, authentic food that was tailored to our national palate, so we created locations in all of the city's major dining districts.
                The menu offers a wide range of inventive dishes produced with high-quality ingredients and surprisingly flavorful combinations, all at reasonable prices. foodlo focuses on classic recipes with a modern twist, incorporating a wide range of unique and diverse ingredients.
            </p>
            </article>
    </section>


    <!-- Footer -->
    <footer class="footer">
        <div class="firstGridChild">
            <div class="logo">
                <img src="/images/foodlo Logo/logo1.png" alt="">
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/" target="_blank"><i class="socialIcon fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="socialIcon fa-brands fa-instagram"></i></a>
                    <a href="https://www.twitter.com/"><i class="socialIcon fa-brands fa-twitter"></i></a>
                    <a href="https://www.tiktok.com/"><i class="socialIcon fa-brands fa-tiktok"></i></a>
            </div>
        </div>
        <div class="secondThirdGridContainer">
            <div class="secondGridChild">
                <ul>
                    <li><h3>Support</h3></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Branch Locator</a></li>
                </ul>
            </div>
            <div class="thirdGridChild">
                <ul>
                    <li><h3>foodlo</h3></li>
                    <li><a href="">About FoodLo</a></li>
                    <li><a href="">Carrers</a></li>
                    <li><a href="">Newsroom</a></li>
                </ul>
            </div>
        </div>
        <div class="fourthGridChild" id="map"></div>
        <div class="fifthGridChild">
            <p>Copyright &copy; 2022 FoodLo pk | All Rights Reserved</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>

</body>
</html>