<!-- Hamburger -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/images/foodlo Logo/logo1.png" alt="" class="logo">
            <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/#gallery">Gallery</a></li>
            <li><a href="/products">Order Now</a></li>
        </ul>
        <div class="cart-btn-wrapper">
            <a href="/cart" class="cart">Cart <i class="fas fa-shopping-cart"></i></a>
            <a href="/login" class="login">Login <i class="fa-solid fa-user-plus"></i></a>
        </div>
    </aside>

    <button class="back-to-top hidden"><i class="fa-solid fa-circle-arrow-up"></i></button>

    <header class="header" id="myHeader">
        <div class="headLogo">
            <a href="/"><img src="/images/foodlo Logo/logo1.png" alt="foodlo Logo"></a>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/products">Order Now</a></li>
            </ul>
        </nav>
        <ul class="cart-login" id="cart-login">
            <li><a href="/cart">Cart <i class="fas fa-shopping-cart"></i></a></li>
            <li> 
                <div class="dropdown">
                        <% if (user) { %>
                            <a class="dropbtn" href="/"><%= user %></a> 
                            <% } else { %>
                                <a class="dropbtn" href="/login">Login <i class="fa-solid fa-user-plus"></i></a>
                        <% } %>
                        <!-- Register/Login -->
                        <% if (user) { %>
                            <div class="dropdown-content">
                                <a href="/profile">Profile</a>
                                <a href="/orders">Orders</a>
                                <a href="/changepassword">Change Password</a>
                                <a href="/logout">Logout</a>
                            </div> 
                        <% } %>
                </div> 
            </li>
        </ul>
        <button class="open-btn"><i class="fa-solid fa-bars"></i></button>
    </header>